.wpls-page {
    padding-top: 35px;
}

.notification {
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.notification-overlay {
    position: absolute;
    right: 20px;
    max-width: 450px;
    width: 100%;
    z-index: 100;
}

.notification-fixed {
    margin-top: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.announcement-list-item {
    cursor: pointer;
}

.package-select {
    .package-select-multiple {
        margin-top: -11px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.03);
        z-index: 100;
    }

    .package-select-input {
        cursor: pointer;
    }
}

.markdown-editor-preview-announcements {
    padding: 35px 10px;
    background: #f1f1f1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px !important;
    color: #444;

    h1, h2, h3 {
        font-weight: 600;
    }

    h2, h3 {
        font-size: 1.3em;
    }

    .notice {
        background: #fff;
        border-left: 4px solid #fff;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        margin: 5px 15px 2px;
        padding: 10px 12px;

        &.notice-info {
            border-left: 4px solid #00a0d2;
        }
        &.notice-success {
            border-left: 4px solid #46b450;
        }
        &.notice-warning {
            border-left: 4px solid #ffb900;
        }
        &.notice-error {
            border-left: 4px solid #dc3232;
        }
    }


}

.stat-counter {
    min-height: 140px;

    .count {
        font-size: 70px;
        margin-top: -40px;
        margin-bottom: -20px;
        color: lightgray;
    }
}

.smdt__table {
    position: relative;
    border: 1px solid #dbdbdb;

    &.is-loading::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.6);
    }

    .is-sortable {
        cursor: pointer;
    }
}

.version-tag-container {
    margin-top: 10px;
    margin-bottom: 0 !important;
    margin-left: 15px;
}

.version-tag {
    background-color: #b478fb !important;
    color: #8825ff !important;
}

.main-navigation a::after {
    content: " ";
    display: block;
    background-color: transparent;
    height: 2px;
    opacity: 0;
    transition: opacity 200ms ease, transform 200ms ease;
    transform: translateY(5px);
}

.main-navigation a.router-link-exact-active.has-text-weight-bold::after,
.main-navigation a:hover::after {
    background-color: white;
    opacity: 1;
    transform: translateY(0px);
}

.fa-icon {
    width: 0.75rem;
    fill: currentColor;
}